span.logo,
span.logo-compact {
  display: none !important;
}

h3.sectionname {
  font-size: larger !important;
}

a.icons-collapse-expand {
  font-size: x-small !important;
}

div.course-description-item {
  font-size: 14.5px !important;
}

/* Fix Text Box Sizing */
.activity-altcontent.course-description-item {
  font-size: 13.25px !important;
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

/* Fix Margin of <p/> inside text box */
div.no-overflow p:not(:last-child) {
  margin-bottom: 1px;
}

span.instancename {
  font-size: 14px !important;
}

/* Remove Padding From Region Top */
section#region-main {
  padding-top: 0px !important;
}

ul {
  font-size: 15px !important;
}

/* Fix Activity Item Spacing and Border */
.activity .activity-item {
  padding: 0 !important;
}

.pagelayout-course #region-main .course-content .section li.activity,
.pagelayout-course #region-main .course-content .single-section li.activity {
  margin: 0 0 0.75rem !important;
}

.pagelayout-course #region-main .course-content .section li.activity {
  border-bottom-color: transparent !important;
}

/* === Side Bar Ajustments === */

.courseindex .courseindex-item.courseindex-section-title a {
  font-size: 14px !important;
}
li.courseindex-item {
  font-size: 13px;
}

a.courseindex-link.text-truncate {
  overflow: visible !important;
  text-overflow: initial !important;
  white-space: normal !important;
}

li#section-0 {
  padding-top: 0 !important;
}

#page #page-header .page-context-header .page-header-headings h1 {
  font-size: large;
}

li.nav-item a.nav-link {
  font-size: 13px !important;
  padding: 0.5rem !important;
}
